/*  ************************** 3.2 about section  **********************************/

.about-item-title{
    color: var(--black-color);
    font-size: 1.7rem;
   
}
.about-items:hover .about-item-title{
  color: var(--white-color);
}
.about-item-desc{
    line-height: 25px;
 
    color: #999;
}

.about-items img{
    width: 100px;
    height: 100px;
}
.about-items.marg{
   
    border: 1px solid var(--bg2-color);
    padding: 1.2rem 0.6rem ;
  border-radius: 20%;
}

/**************** end about section ************************/
/*=========================================
    caption media query
 ==========================================
 */
/* // Small devices (landscape phones, 576px and up) */
