/****************************** 3.0-header **************************/

header nav img {
  width: 90px;
  height: 70px;
}
/* .collapse ul li a{
    font-size: 2rem;
} */
@media (min-width: 567px) and (max-width: 920px) {
 .collapse ul li {
     font-size: 2rem;
 }
}

/**********************************end header ********************************/
